@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

h1 {
    font-size: 10rem;
    color: cyan;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: lightgray;
    text-align: center;
    background-color: black;
    background-size: contain;
}

nav {
    font-size: 1.5rem;
    text-align: left;
    background-color: black;
    color: lightgray;
    position: fixed;
    height: 80px;
    padding: 10px 30px 10px -30px;
    text-align: right;
    z-index: 10;
    width: 100%;
}

.nav-links li a{
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    padding: 0 25px;
    line-height: 30px;
    position: relative;
    color: lightgray;
}

.nav-links li a:hover{
    background: darkgrey;
    animation: color_change 0.5s;
    color: white;
}



.nav-links li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}

/* do not show the mobile slider as default*/
.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer; 
    color: lightgray;
    font-size: 24px;
}


.name {
    float: left;
    padding-left: 2%;
    text-align: left;
    padding: 0 25px;
    line-height: 24px;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: #262831;
}

.mainscreen{
    padding-top: 80px;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    text-align: center;
    padding-bottom: 400px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.contact {
    display: inline-flex;
    justify-content: space-around;
    line-height: 40px;
    padding: 0.3em 0.5em;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: rgb(70, 64, 64);
    border:none;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #bebfc0;
    outline: none;
}

.contact a{
    color: #bebfc0;
    text-decoration: none;
}

.github, .linkedin, .gmail{
    padding: 6px 10px 0 10px;
}

.main {
    background-color: #313440;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background-color: white;
    max-width: 1200px;
    display: flex;
    border-radius: 1em;
    margin-top: 2em;
    flex-direction: column;
    position: absolute;
    left: 20%;
    right: 20%;
    
}

div .aboutme, .portfolio, .tech {
    padding: 4em;
    background: #313440;
    border-bottom: rgb(32, 32, 32) solid 1px;
}
div .techimgs {
    align-content: center;
    text-align: center;
}


/* div .project{
    display: inline-block;
    background-color: rebeccapurple;
    height: 325px;
    width: 325px;
    text-align: center;
    line-height: 300px;
    color: #DBDFF4;
    border: 1px solid black;
    overflow: hidden;
} */

div .techimg{
    display: inline-block;
    padding: 0 6% 0 6%;
    text-align: center;
    width: auto;
}

.content h3 {
    color: cyan;
    text-transform: uppercase;
    font-weight: 400;
}
.content p {
    line-height: 1.8em;
    color: #DBDFF4;
}

.content a{
    color: #6772e5;
    font-weight: 400;
    text-decoration: none;
}

/* Extra Small devices (<600px)*/
@media screen and (max-width: 599px){
    h1{
        font-size: 2.5rem;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .navbar-toggle{
        top: 20px;
    }
    h2.navbar{
        font-size: 1em;
        padding-top: 5px;
    }
    .mainscreen{
        height: 90vh;
        width: auto;
    }
    .intro{
        padding-bottom: 350px;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .content {
        position: absolute;
        left: 10%;
        right: 10%;
    }
    .contact {
        display: inline-flex;
        justify-content: space-around;        
        line-height: 40px;
        padding: 0.3em 0.5em;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: .025em;
        color: #7795f8;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(104, 103, 103);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
}
/* Small devices (600px and up)*/
@media screen and (min-width: 600px) and (max-width: 767px){
    h1{
        font-size: 6rem;
        margin-bottom: 0;
    }
    .content {
        position: absolute;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(104, 103, 103);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
}
/* Medium devices (768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar-toggle {
        display: none;
    }
}

/* Large devices (992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar-toggle {
        display: none;
    }
}

/* Extra Large devices (1200px and up)*/
@media screen and (min-width: 1200px){
    
    .mainscreen{
        height: 100vh;
        background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
        background-size: cover;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-toggle {
        display: none;
    }
}

/* brings the mobile menu in from the side where it is hidden off screen */
.nav-active{
    transform:translateX(0%);
}


/* the following slides in the links */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes color_change {
    from {
        background-color: black;
    }
    to {
        background-color: grey;
    }